<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mersopolis Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <a href="../">
      <h1>
        Mersopolis Tech Blog
      </h1>
    </a>
    <nav>
      <ul>
        {{#if logged_in}}
        <a href="../dashboard">
          <li>Dashboard</li>
        </a>
        <button class="no-button" id="logout">Log Out</button>
        {{else}}
        <a href="../login">
          <li>Log In/Sign Up</li>
        </a>
        {{/if}}
      </ul>
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <!-- Footer -->
  <footer>
    <!--Copyright-->
    <h5>Website made by Devon Ethington</h5>
    <h6>&copy; 2023 Devon Ethington</h6>
  </footer>

  <!-- Scripts -->
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
