<!-- Loop over each blogPost object -->
{{#each blogPosts as |blogPost| }}
<a href="../blogpost/{{blogPost.id}}" class="row align-center mb-5">
  <div class="col-md-7">
    <!-- Render blogPost-specific data with Handlebars.js expressions -->
    <h2>{{blogPost.title}}</h2>
  </div>
  <div class="col-md-3">
    <h3>{{format_date blogPost.date_created}}</h3>
  </div>
</a>
{{/each}}
